
.DS_Store
código/.idea/código.iml
código/.idea/inspectionProfiles/profiles_settings.xml
código/.idea/misc.xml
código/.idea/modules.xml
código/.idea/workspace.xml
código_IC017/.idea/workspace.xml
código_IC017/.idea/workspace.xml
